---
layout: archive-full
permalink: /SRv6/demos/
title: "It's demo time! – SRv6"
---

{% include base_path %}
{% assign sorted = (site.demos | sort: post.date | reverse) %}
{% for post in sorted %}
  {% if post.categories.size > 0 %}
    {% assign noCategories = false %}
  {% else %}
    {% assign noCategories = true %}
  {% endif %}
  {% if noCategories or post.categories contains "SRv6" or post.categories contains "srv6" %}
    {% include demos-list subpage="#SRv6" %}
  {% endif %}
{% endfor %}
