{% comment %} customize navigation for the different pages {% endcomment %}
{% if page.url contains 'SRv6' %}
    {% assign navigation = site.data.navigation['srv6'] %}
{% else %}
    {% assign navigation = site.data.navigation['srmpls'] %}
{% endif %}

<style>
	li.masthead__menu-item.masthead__menu-item--lg {
		padding-right: initial;
	}
	li.masthead__menu-item:nth-child(3), li.masthead__menu-item:nth-child(4) {
		font-weight: 400;
	}
	li.masthead__menu-item:nth-child(4) {
		padding-right: 1em;
	}
	li.masthead__menu-item:nth-child(5) {
		border-left: #acacad solid 1px;
		padding-left: 1em;
	}
</style>

<!-- navigation: {{ navigation }} -->
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <a style="display:initial;" href="{{ '/' | relative_url }}"><img src="{{ site.logo | relative_url }}" width="45px" height="45px" alt="Segment-Routing logo" style="float:left;"></a>
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></li>
          {% for link in navigation %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = site.url | append: site.baseurl %}
            {% endif %}

	    {% comment %}
	    <!-- page.url = {{ page.url }} ; link.url = {{ link.url }} -->
	    {% endcomment %}

            {% assign underline = false %}
            {% if page.url contains link.url %}
	      {% assign underline = true %}
            {% elsif link.url == '/SRMPLS/' %}
	      {% unless page.url contains '/SRv6/' %}
                {% assign underline = true %}
              {% endunless %}
	    {% endif %}
            {% if page.url contains '/news/' or page.url contains '/open-software/' or page.url contains '/scientific-papers/' %}
	      {% if link.url == '/SRv6/' or link.url == '/SRMPLS/' %}
	        {% assign underline = false %}
              {% endif %}
            {% endif %}

	    {% if underline == true %}
              <li class="masthead__menu-item greedy-nav-active"><a href="{{ '' | relative_url }}{{ link.url }}">
                {% if link.short %}
                <span class="lg-view">{{ link.title }}</span>
                <span class="sm-view">{{ link.short }}</span>
                {% else %}
                {{ link.title }}
                {% endif %}
              </a></li>
            {% else %}
              <li class="masthead__menu-item"><a href="{{ '' | relative_url }}{{ link.url }}">
                {% if link.short %}
                <span class="lg-view">{{ link.title }}</span>
                <span class="sm-view">{{ link.short }}</span>
                {% else %}
                {{ link.title }}
                {% endif %}
              </a></li>
            {% endif %}

          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
